<div class="user_con">
  <%= image_tag (@user.photo || 'https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8='), class: "user_img" %>
  <div class="user_data_con">
    <h1><%= @user.name %></h1>
    <p class="post_number">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>

<div>
  <h1><%= link_to "Click here to add New Post", new_user_post_path(@user)%></h1>
</div>

<ul>
  <% @user.posts.each do |post| %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
      <li class="post_con">
        <h1><%= post.title %></h1>
        <div class="post_data_con">
          <p><%= post.text %></p>
          <p class="post_number">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
          <hr>
          <h2>Comments</h2>
          <ul>
            <% post.comments.each do |comment| %>
              <li><%= comment.author.name %> : <%= comment.text %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </a>
  <% end %>
</ul>

