<li class="post_con">
<div>
  <p class="post_number" style="float:right">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  <h1><%= @post.title %> by <%= @post.author.name %> </h1>
  </div>
  <div class="post_data_con">
    <p><%= @post.text %></p>
    <hr>
      <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |form| %>
        <%= form.submit "Like", class: "submit-btn" %>
      <% end %>
    <h2>Comments</h2>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name %> : <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</li>

<h2>Add a comment:</h2>
<%= form_with(model: [ @post.author, @post.author.comments.build ], url: "/users/#{@post.author.id}/posts/#{@post.id}/comments") do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

